<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Booking Requested</h1>
    <p>
      Booking Request from <%= @first_name + " " + @last_name %><br>
    </p>
    <p>Email: <%= @email %></p>
    <p>
      <%= @message %>
    </p>
  </body>
</html>
